<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>ForoProyectos</title>
    </head>
    <body>
        <h1>Página principal para ForoProyectos</h1>
        <p>Bienvenido al foro de proyectos. Aquí podrás encontrar y compartir información sobre diversos proyectos web.</p>
        <h2>¿Qué te gustaría ver hoy?</h2>
        <ul>
            <li><a href="usuario">USUARIOS</a></li>
            <li><a href="pregunta">PREGUNTAS</a></li>
            <li><a href="respuesta/lista_respuestas.html">RESPUESTAS</a></li>
        </ul>
    </body>
</html>