{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Pregunta {{ pregunta.titulo }}</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>

<body>
    <h1>{{ pregunta.titulo }}</h1>

    <p><strong>Contenido:</strong> {{ pregunta.contenido }}</p>
    <p><strong>Autor:</strong> {{ pregunta.autor }}</p>

    <h2>Respuestas</h2>

    {% if pregunta.respuestas.all %}
        <ul>
            {% for respuesta in pregunta.respuestas.all %}
                <li>
                    <strong>{{ respuesta.autor.username }}</strong> respondió el {{ respuesta.fecha_publicacion|date:"d/m/Y H:i" }}:
                    <p>{{ respuesta.contenido }}</p>

                </li>
            {% empty %}
                <li>No hay respuestas aún.</li>
            {% endfor %}
        </ul>
    {% endif %}

</body>

</html>