{% extends "base.html" %}

{% block titulo %}Listado de Preguntas{% endblock %}

{% block contenido %}
    <h1>Listado de Preguntas</h1>
    <input type="text" id="inputPregunta" placeholder="Buscar pregunta..." onkeyup="buscarPregunta()">
    <ul id="listaP">
        {% for pregunta in preguntas %}
            <li id="Ipregunta">
                <a href="{% url 'detalle_preguntas' pregunta.id %}">

                    {{ pregunta.titulo }}
                </a>
                {% if pregunta.contenido %} - {{ pregunta.contenido }}{% endif %}
            </li>
            {% empty %}
            <li>No hay preguntas registradas.</li>
        {% endfor %}
    </ul>
{% endblock %}
