{% extends 'base.html' %}
{% load static %}

{% block titulo %}Usuario {{ usuario.username }}{% endblock %}

{% block contenido %}
    <h1>{{ usuario.username }}</h1>

    <p><strong>Email:</strong> {{ usuario.email }}</p>

    <img src="{{ usuario.foto }}" alt="foto" width="500px">

    <h2>Preguntas realizadas por {{ usuario.username }}</h2>

    <ul>
        {% for pregunta in usuario.preguntas.all %}
            <li>
                <a href="{% url 'detalle_preguntas' pregunta.id %}">{{ pregunta.titulo }}</a>
            </li>
        {% empty %}
            <li>Este usuario no ha hecho ninguna pregunta.</li>
        {% endfor %}
    </ul>

    <ul>
        {% for respuesta in usuario.respuestas_autor.all %}
            <li>
                <a href="{% url 'detalle_respuestas' respuesta.id %}">{{ respuesta.contenido }}</a>
            </li>
        {% empty %}
            <li>Este usuario no ha hecho ninguna respuesta.</li>
        {% endfor %}
    </ul>
{% endblock %}
